// $VARIABLES

// * / 1. $List users values
// * -----------------------
// * /
// 
// 

$c-icon-hover: #fff;

$icon-users-char: '\00cf';
$c-btn-bg: transparent;
$c-user-hover: #ACB1BF;
$c-user-active: #fff;
$c-user-tooltip: #ACB1BF;
$icon-size: 40;
$icon-lh: 1.32em;
$addonsHeight: 3.5rem;