<div id="changePassword" class="changePassword-overlay" ng-show="showDialog" ng-controller="changePasswordController">
	<form name="formPasswords" qa-id="change-password-form" ng-submit="submit()">
	<div class="changePassword-mainForm">
		<div class="changePassword-mainFormIn">
			<button type="button" qa-id="password-changed-button" class="wm-close wm-close-password" ng-show="allowClose" ng-click="hideChangePasswordDialog()">&nbsp;</button>
			<h1 ng-hide="passwordSuccessMessage">{{ titlemessage | translate}}</h1>
			<span ng-hide="passwordSuccessMessage">{{ mainmessage | translate }}</span>
			<div ng-show="passwordSuccessMessage">
				<p class="changePassword-rules">{{ "Password changed successfully" | translate }}</p>
			</div>
			<div class="changePassword-container" ng-hide="passwordSuccessMessage">

				<div class="changePassword-passwords">
					<div class="changePassword-password1">
						<label for="passwordold">{{ "Old password" | translate }}</label>
						<input id="passwordold" qa-id="old-password-text" name="passwordold" type="password" ng-Change="removeOldPassError()" ng-model="passData.passwordold" value="" class="changePassword-mainFormInputs" ng-class="{false:'', true:'changePassword-errorborder'}[errorOldPassword]" />
					</div>

					<div class="changePassword-password1">
						<label for="password">{{ "New password" | translate }}</label>
						<!-- ^(?=.*\d|.*[#\$_])(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,20}$ -->
						<input id="password" qa-id="new-password-text" name="password" type="password" ng-model="passData.password" value="" class="changePassword-mainFormInputs"/>
					</div>
					<div>
						<label for="password_c">{{ "Repeat password" | translate }}</label>
						<input id="password_c" name="password_c" qa-id="repeat-password-text" type="password" value="" class="changePassword-mainFormInputs" ng-model="passData.password_c" />
					</div>
				</div>
				<div class="changePassword-rules">
					{{ "Password must" | translate }}
					<ul class="changePassword-rules-list">
						<li ng-class="{false:'rules-list-disabled', true:''}[verifyPasswdMinLength(8)]">{{"be 8 characters minimum" | translate }}</li>
						<li ng-class="{false:'rules-list-disabled', true:''}[verifyUserName()]">{{"be different from the username" | translate }}</li>
					</ul>
				</div>

			</div>
			<div class="changePassword-error" ng-show="errorOldPassword">
				{{ "Current password doesn't match" | translate }}
			</div>
			<div class="changePassword-error" ng-show="errorServer">
				{{ "Sorry, we have some issues changing your password" | translate }}
			</div>
			<div class="changePassword-error" ng-show="formPasswords.password_c.$dirty && passData.password != passData.password_c">
				 {{ "Passwords must match" | translate }}
			</div>
			<div class="changePassword-submit" ng-hide="passwordSuccessMessage">
				<button type="submit" class="btn-change ng-binding" qa-id="password-button" ng-class="{false:'', true:'btn-change-active'}[canSend()]" ng-disabled="!canSend()">{{"CHANGE PASSWORD" | translate}}</button>
			</div>

		</div>

	</div>
	</form>
</div>
