// $VARIABLES

// */ 1. $Colors 
// * ---------------------------
// */
// 
//Button
//


$c-support: transparent;
$c-support-hover: #fff;
$c-support-active: #ffffff;
$c-support-tooltip: #ffa500;

// */ 2. $Images
// * ---------------------------
// */

$icon-support-char: '\00C9';
$icon-support-lh: 1.2;