node_modules
dist
.tmp
.sass-cache
bower_components
.idea
pkgs
builder/contents
builder/log
build/
doc/
.*.swp
app/index.html
compiled/
app/scripts/settings.js
app/scripts/fakeConnection.js
app/scripts/translations/literals/
*.log
*~
.DS_Store
