<div id="popup-topbar" style="background-color: #373c49; height: 30px; overflow: hidden;" class="topbar topbar-popup">
	<div ng-include="hooks.popupStartMenu" class="start-menu topbar-menu brand-container">
	</div>
	
	<div class="toolbar-container">
		<div class="toolbar-group">
			<div data-block="addonButtons" ng-repeat="contentData in addons.button" ng-include="contentData" class="bar-item bar-item-{{contentData | extractNameFromLink}}"></div>
			<div data-block="addonButtons" ng-include="hooks.attachButton" class="bar-item bar-item-attach"></div>
		</div>
	</div>
</div>
