.featured-apps{
	color: #fff;
	text-transform: none;
}

.iconboard{
	// To delete this when workspace accepted
	position: static;
	transform: none;
	width: 100%;
	//  End delete this 
}

	.app-wrapper{
		// To delete this when workspace accepted
		// all:unset;
		 width: 100%;
		padding: 0;
		display: block;
		//  End delete this 
	}

	.adminpanel{
		background: none;
	}


