.tooltip-item{
	position: absolute;
	background:rgba(0,0,0,1);
	padding: .8em;
	top: 100%;
	right: 0;
	color: #fff;
	font-weight: bold;
	margin-top: -.5em;
	@include fz(14);
	transition: all .3s ease-out;


	&::before{
		content: '';
		border: 10px solid transparent;
		border-bottom-color: rgba(0,0,0,1);
		position: absolute;
		top: -20px;
		right: 1em;
	}

	opacity: 0;
}