<div class="people_groups-container" id="groups-container" ng-controller="peopleGroupsController">
    <div class="people-goups-list">
        <div class="searcher">
            <input ng-model="searchPeopleAndGroups" type="text" class="search-term"
                   placeholder="{{'Search People or Groups' | translate }}" >
            <button class="search-trigger">Search</button>
        </div>
        <div class="default-view">
            <div class="groups-list default-box visible half-height">
                <h2>{{"Groups" | translate}}</h2>
                <input type="checkbox" class="toggle-view" id="toggle-groups">
                <label class="toggle" for="toggle-groups"></label>

                <p class="empty-state" ng-show="!userGroups">
                    {{"You have no groups at this moment. Use the button at the bottom to create a new one" | translate}}
                </p>

                <ul class="groups">
                    <li class="group-item" ng-repeat="group in userGroups | groupSearchFilter:searchPeopleAndGroups"
                        ng-controller="groupController">
                        <h3 class="group-name">{{group.name}}</h3>
                        <p class="group-description">{{group.description}}</p>
                        <div ng-show="toggleMembers" class="group-members">
                            <ul ng-repeat="user in group.members">
                                <li  class="member-item">
                                    {{getDisplayName(user)}}
                                </li>
                            </ul>
                        </div>
                        <div class="group-actions">
                            <button class="action-item action_list" ng-click="toggleMembers = !toggleMembers">
                                <span class="tooltip-action">{{"Ver miembros" | translate}}</span>
                            </button>
                            <button class="action-item action_folder" ng-click="openFiles()">
                                <span class="tooltip-action">{{"Ver carpeta" | translate}}</span></button>
                            <button class="action-item action_edit" ng-click="editGroup(group)" ng-if="group.admin">
                                <span class="tooltip-action">{{"Editar grupo" | translate}}</span></button>
                            <button class="action-item action_delete" ng-click="deleteGroup()" ng-if="group.admin">
                                <span class="tooltip-action">{{"Borrar grupo" | translate}}</span></button>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="people-list default-box visible half-height">
                <h2>{{"People" | translate}}</h2>
                <input type="checkbox" id="toggle-people" class="toggle-view">
                <label class="toggle" for="toggle-people"></label>
                <ul class="people">
                    <li class="people-item people-item__online"
                        ng-repeat="eyeosUser in eyeosUsers | removeMeFromEyeosUsersList:currentUserName | peopleSearchFilter:searchPeopleAndGroups">
                        {{getDisplayName(eyeosUser)}}
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn-new" ng-click="createGroup()">{{"Create new group" | translate}}</button>
    </div>

    <div ng-show="enableCreateEditGroupWindow" class="new-group active" ng-controller="groupCreateUpdateController">
        <div class="group-name-description">
            <input ng-disabled="disableGroupEdition && disableGroupNameEdition" type="text" ng-model="group.name" class="set-group-name" placeholder="{{'Name for the group' | translate }}">
            <textarea ng-disabled="disableGroupEdition && disableGroupDescriptionEdition" ng-model="group.description"
                      name="" id="" cols="30" rows="10" class="set-group-description"
                      placeholder="{{'Group description' | translate}}"></textarea>
            <button class="btn-save" ng-click="saveGroupWithUsers()">{{"Save group" | translate}}</button>
            <button class="btn-cancel" ng-click="cancelEdition()">{{"Cancel" | translate}}</button>
        </div>
        <div class="group-users">
            <p class="empty-state" ng-show="getMembersCount() === 1">
                {{"You can add people using the search box or the list at the bottom" | translate}}
            </p>

            <p class="members-list">
                <span class="member-count"> {{getMembersCount()}}<!--Este es el número de usuarios que tiene o se han añadido al grupo--></span>

                <span ng-show="getMembersCount() === 1">
                     {{"User" | translate}}
                </span>
                <span ng-show="getMembersCount() > 1">
                     {{"Users" | translate}}
                </span>

                <button class="list-members"
                        ng-click="showOnlyMembers = !showOnlyMembers"
                 >{{"Show group members" | translate}}</button>
            </p>

        </div>

        <div class="searcher">
            <input type="text"
                   ng-model="searchPeople"
                   class="search-term" placeholder="{{'Search users to add them to the group...' | translate}}">
            <button class="search-trigger">{{"Search users" | translate}}</button>
        </div>
        <div class="list2add">
            <ul ng-repeat="eyeosUser in eyeosUsers  | removeMeFromEyeosUsersList:currentUserName | peopleSearchFilter:searchPeople">

                <li ng-hide="isMember(eyeosUser) || showOnlyMembers" class="people-item people-item__online">{{getDisplayName(eyeosUser)}}
                    <button class="add2group" ng-click="addMember(eyeosUser)">{{"Add user" | translate}}</button>
                </li>
                <li ng-show="isMember(eyeosUser)" class="people-item people-item__online item__added">{{getDisplayName(eyeosUser)}}
                    <button class="remove2group" ng-click="removeMember(eyeosUser)">{{"Remove user" | translate}}</button>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="showConfirmDelete"
         ng-controller="deleteGroupDialogController"
         class="msg-box msg__warning visible">

        {{"Are you sure you want to delete this group?" | translate}}
        <div class="action-btns">
            <button class="text-btn confirm_delete" ng-click="confirmDeleteGroup()">{{"Delete" | translate}}</button>
            <button class="link-btn cancel_delete" ng-click="cancelDeleteGroup()">{{"Cancel" | translate}}</button>
        </div>
    </div>
</div>
