<div class="animated-logo loading" ng-controller="open365LoadingController">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-105 -110 450 450" width="200" height="200" class="logo">
        <defs>
            <style>.cls-1{isolation:isolate;}.cls-2{fill:url(#linear-gradient);}.cls-3{fill:none;}.cls-4{fill:#4fd3f4;}.cls-4,.cls-7{mix-blend-mode:multiply;}.cls-5{opacity:0.82;}.cls-6{fill:url(#linear-gradient-2);}.cls-8{fill:url(#linear-gradient-3);}.cls-9{opacity:0.91;}.cls-10{fill:url(#linear-gradient-4);}.cls-11{fill:url(#linear-gradient-5);}.cls-12{opacity:0.6;}.cls-13{fill:url(#linear-gradient-6);}
            </style>
            <linearGradient id="linear-gradient" x1="27.41" y1="109.84" x2="96.47" y2="109.84" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1c94e0"/><stop offset="0.09" stop-color="#1cbcd6"/><stop offset="0.34" stop-color="#72e0fa"/><stop offset="0.79" stop-color="#caf183"/><stop offset="1" stop-color="#9cef61"/>
            </linearGradient>
            <linearGradient id="linear-gradient-2" x1="85.24" y1="189.95" x2="221.04" y2="54.16" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#2c97cd"/><stop offset="0.21" stop-color="#1ccbdb"/><stop offset="0.35" stop-color="#19d7db"/><stop offset="0.54" stop-color="#59d6b8"/><stop offset="0.72" stop-color="#6bd5b5"/><stop offset="0.82" stop-color="#70e4a3"/><stop offset="0.9" stop-color="#79e990"/><stop offset="1" stop-color="#8ce079"/></linearGradient>
            <linearGradient id="linear-gradient-3" x1="0.98" y1="173.29" x2="180.17" y2="173.29" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1f7cce"/><stop offset="0.15" stop-color="#4273d2"/><stop offset="0.37" stop-color="#2fade0"/><stop offset="0.61" stop-color="#4ad3c9"/><stop offset="1" stop-color="#bde186"/></linearGradient>
            <linearGradient id="linear-gradient-4" x1="30.6" y1="46.17" x2="177.56" y2="46.17" xlink:href="#linear-gradient"/>
            <linearGradient id="linear-gradient-5" x1="0" y1="59.89" x2="99.73" y2="59.89" xlink:href="#linear-gradient-2"/>
            <linearGradient id="linear-gradient-6" x1="195.96" y1="79.69" x2="52.29" y2="79.69" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1f7cce"/><stop offset="0.15" stop-color="#4273d2"/><stop offset="0.69" stop-color="#2fade0"/><stop offset="1" stop-color="#4ad3c9"/><stop offset="1" stop-color="#bde186"/>
            </linearGradient>
        </defs>
        <title>Untitled-1</title>
        <g id="left"><path class="cls-2" d="M67.19,187.22A88.21,88.21,0,0,1,80.76,32.46L96.47,69A48.48,48.48,0,0,0,89,154Z"/><rect class="cls-3" width="232.22" height="237.97"/>
        </g>
        <g id="bottom-right"><path class="cls-4" d="M102.6,213.89a97.21,97.21,0,0,1-53.56-16l27.29-41.5a47.92,47.92,0,0,0,55.48-78.07L162.13,39A97.59,97.59,0,0,1,102.6,213.89Z"/><rect class="cls-3" width="232.22" height="237.97"/>
        </g>
        <g id="right">
            <path class="cls-6" d="M133.26,238l-15.93-77.86a44.44,44.44,0,0,0,6-85.33L150.27,0A123.91,123.91,0,0,1,133.26,238Z"/>
            <rect class="cls-3" width="232.22" height="237.97"/>
        </g>
        <g id="bottom-left" class="cls-7"><path class="cls-8" d="M104.8,221.94A105,105,0,0,1,1,132.3l52.42-7.67a52,52,0,0,0,88.72,28.53l38,36.87A104.1,104.1,0,0,1,104.8,221.94Z"/><rect class="cls-3" width="232.22" height="237.97"/>
        </g>
        <g id="top">
            <g class="cls-9"><path class="cls-10" d="M68.06,80.27L30.6,42.81a104.93,104.93,0,0,1,147-1.42L140.82,79.57A52,52,0,0,0,68.06,80.27Z"/></g><rect class="cls-3" width="232.22" height="237.97"/>
        </g>
        <g id="top-left">
            <g class="cls-7"><path class="cls-11" d="M59.31,110.82L0,104.89A108.27,108.27,0,0,1,90,9l9.78,58.79A48.67,48.67,0,0,0,59.31,110.82Z"/></g><rect class="cls-3" width="232.22" height="237.97"/>
        </g>
        <g id="top-right" class="cls-12"><path class="cls-13" d="M194.68,133.19l-26.12-4.39a65.94,65.94,0,0,0,.91-10.9A65.21,65.21,0,0,0,67.32,64.16l-15-21.81A91.7,91.7,0,0,1,196,117.89,92.59,92.59,0,0,1,194.68,133.19Z"/><rect class="cls-3" width="232.22" height="237.97"/>
        </g>
    </svg>

    <div class="loading-message">
        <p class="message-item" id="message-item">{{ loadingMessage | translate }}</p>
    </div>

</div>