<div class="button">
	<ul class="topbar-dropdown">
		<li class="dropdown dropdown-toggle" on-toggle="toggled(open)">
			<a href class="item" data-block="link">
				<i id="start_menu_icon" class="eyeos-icon"></i>
			</a>
			<ul class="dropdown-menu">
				<li ng-controller="StartMenuController">
					<div class="app" id="logout_button" qa-id="logout-button" ng-click="logout()">
						<img src="images/topbar/logout.png" alt="Log out"/>
						<span>{{'Log out' | translate}}</span>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
