<div class="topbar">
	<div ng-include="hooks.startMenu" class="start-menu topbar-menu">
	</div>
	<div class="bar-options_wrapper">
		<div class="bar-options">
			<div data-block="addonButtons" ng-repeat="contentData in addons.button | orderBy:'toString()'"
			 class="topbar-menu start-menu bar-item" ng-include="contentData"></div>

   			 <button ng-if="peopleGroupsEnabled" class="show-groups"
		            ng-click="initPeopleGroups()">
		        Mostrar grupos
		    </button>
		</div>
    </div>
</div>
