	<div ng-include="hooks.startMenu" class="start-menu topbar-menu brand-container">
	</div>
	<div class="toolbar-container">
		<div class="toolbar-group"> 
			<div class="bar-item-iconboard featured-apps">
				<div class="iconboard-apps_wrapper">
					<!-- Button block -->
					<div class="app-wrapper">
						<div id="applications-btn" qa-id="applications-button" class="app-item application-menu launcher-btn dropdown-toggle item"
							 ng-include="hooks.applicationsMenu"></div>
					</div>
					<div class="app-wrapper" ng-class='{"active":!toggle}' ng-click="toggle=0;openMyHome()">
						<div class="app-item eyeos-icon">
							<div class="app-link tooltip-flag">{{"Home" | translate}}</div>
						</div>
					</div>
					<div class="app-wrapper" ng-class='{"active":toggle==1}' ng-click="toggle=1;openGroups()">
						<div class="app-item eyeos-icon">
							<div class="app-link tooltip-flag">{{"Groups" | translate}}</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-include="hooks.peopleButton"></div>
			<div data-block="addonButtons" ng-repeat="contentData in addons.button | filter: '!applications' | filter: '!support' | filter: '!eyeschool' | filter: '!mail' | filter: '!calendar' " ng-include="contentData" class="bar-item bar-item-{{contentData | extractNameFromLink}}"></div>
	    </div>
    </div>
